@borderheigth: 220px;
@borderwidth: 140px;
@width: 260px;

.cards {
	padding: 15px;
	margin: 0 auto;
}

.card-border {
	height: @borderheigth;
	width: @borderwidth;
	display: inline;
}
.gameblock {
	padding: 15px;
}
.control {
	display: inline;
	max-width: @width; 
	padding: 5;
}
